/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********************************
 *	Début de la feuille de style  *
 **********************************/
body {
    --textColor: #f3f3f3;
    --bgColor: #3f3f3f;

    --bgDarker: #2f2f2f;

    --header-color-lighter: #e9a60a;
    --header-color: #d39609;
    --header-color-darker: #b9850e;

    --row-color-odd: #4f4f4f;
    --row-color-even: #444444;

    background-color: var(--bgColor);
    color: var(--textColor);

    transition-property: background-color, color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;

    position: absolute;
    width: 100%;

    font-family: 'Roboto';
}

body.dark {
    --textColor: var(--bgColor);
    --bgColor: var(--textColor);
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
}

strong {
    font-weight: bold;
}

button, select {
    background-color: var(--header-color);
    color: var(--textColor);

    border-top: 2px solid var(--header-color-lighter);
    border-right: 2px solid var(--header-color-darker);
    border-bottom: 2px solid var(--header-color-darker);
    border-left: 2px solid var(--header-color-lighter);

    padding: 3px;

    border-radius: 5px;

    cursor: pointer;
}

button.delete {
	background: none;
	border: none;
}

button.delete:before {
    font-size: 18px;
	content: '\2716';
	color: red;
}

input[type="text"] {
    background-color: var(--bgDarker);
    color: var(--textColor);

    border-top: 1px solid var(--row-color-even);
    border-right: 1px solid var(--row-color-odd);
    border-bottom: 1px solid var(--row-color-odd);
    border-left: 1px solid var(--row-color-even);

    padding: 3px;
}

header {
    height: 10%;
    width: 100%;

    background-color: var(--header-color);

    border-bottom: 5px solid var(--header-color-darker);

    text-align: center;

    margin: auto;
}

header p {
    font-size: 8px;
}

#game_selector, main, footer {
    background-color: var(--bgColor);
    color: var(--textColor);

    padding: 10px;

    margin: auto;

    margin-top: 20px;

    transition-property: inherit;
    transition-timing-function: inherit;
    transition-duration: inherit;
}

#objectives_section{
    width: 70%;

    left: 0px;
}

main {
    display: flex;
}

aside {
    border: 1px solid var(--textColor);
    background-color: var(--row-color-even);
    color: var(--textColor);

    margin-left: 30px;
    padding: 10px;

    width: 20%;
    height: 40%;

    right: 0px;

    transition-property: inherit;
    transition-timing-function: inherit;
    transition-duration: inherit;
}

aside p {
    padding-bottom: 10px;
}

footer {
    height: 200px;
}

/*--------Objectives table--------*/

main table {
    height: 200px;
    width: 100%;
    left: 10%;

    overflow-y: scroll;

    border-top: 1px solid var(--textColor);
    border-bottom: 1px solid var(--textColor);
}

tr {
    height: 40px;
}

td {
    border-left: 1px solid var(--textColor);
    border-right: 1px solid var(--textColor);

    vertical-align: middle;
}

td:first-child {
    width: 50px;

    text-align: center;
    vertical-align: middle;
}

td:nth-child(2) {
    padding-left: 20px;
}

tr:nth-child(odd) {
    background-color: var(--row-color-odd);
}

tr:nth-child(even) {
    background-color: var(--row-color-even);
}

/*--------Footer--------*/

footer div {
    background-color: var(--row-color-odd);
    border: 1px solid var(--textColor);

    height: 50%;

    margin: 10px 0px;
    padding: 10px;

    overflow-y: scroll;
}